@import url('https://fonts.googleapis.com/css?family=ABeeZee');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
  background-color: #916953;
  font-family: "ABeeZee", sans-serif;
  color: white;
}

/**********
 * NAVBAR *
 **********/

.navbar-brand {
  font-family: 'Architects Daughter', cursive;
}

.navbar-inverse {
  background-color: #CF8E80;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
  opacity: 10%;
}

/***********
 * CONTENT *
 ***********/

.btn-primary,
.btn-primary:hover {
  background-color: #CF8E80;
  border-color: #CF8E80;
}

.card {
  color: black;
}