@import url('https://fonts.googleapis.com/css?family=ABeeZee');

body {
  padding-top: 54px;
  background-color: #916953;
  font-family: "ABeeZee", sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
